on post-fs-data
    mkdir /data/vendor_de/0/facedata 0770 system system encryption=None
    mkdir /data/system/facedata_system 0770 system system

service vendor.face-hal-1-0 /vendor/bin/hw/yamada-oplusface
    interface aidl android.hardware.biometrics.face.IFace/default
    class hal
    user system
    group system input graphics camera
    capabilities SYS_NICE
